.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.fact-card {
  /*width: 300px;
  height: 150px; if these two are included,it means that the box is fixed in size*/ 
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Dynamic Box Resizing : expanding its size according to the fact*/
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b31800;
}
